* {
    margin: 0px;
    padding: 0px;
}

.primary-col-red {
    color: red;
}



/* nav */

.nev-container {
    display: flex;
    background-color: gray;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.manus {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 17px;
    font-style: italic;
    color: rgb(19, 192, 65);
}




/* banner */

.banner-container {
    height: 100vh;
    /* background-color: antiquewhite; */
    background-image: url("./asset/image/background.jpg"),
        linear-gradient(rgba(13, 28, 193, 0.5), rgba(199, 26, 26, 0.8));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}

.banner-info {
    width: 100%;
    margin: 0 auto;
}

.title {
    font-size: 55px;
    color: rgb(42, 21, 148);
    font-weight: bold;
}


.discription {
    color: white;
    width: 50%;
    margin: auto;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.bg-primary {
    background-color: red;
    color: white;
}

/* service */

.service-container {
    height: 100vh;
    background-image: url("./asset/image/footer-bg.png"),
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding: 30px;



}

.service-description {
    width: 50%;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.box {

    height: 150px;
    width: 150px;
    padding: 50px;
    background-color: wheat;
    color: black;
    text-align: center;
    border-radius: 5px;
    /* box-shadow:  */
}

.icon {

    width: 70px;
    margin-bottom: 20px;
}


.first-two-box {
    display: flex;
    gap: 3px;
    margin-top: 5px;
}

.author-img {
    width: 70px;
    height: 70px;
    border-radius: 35px;

}

.author-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px solid red;
    padding: 20px;
}


/* appointment */


.appointment-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 50px;
    margin: auto;
    background-color: red;
    border-radius: 10px;
    margin-top: -30px;
    padding: 50px;
    align-items: center;
}

.phone-call {
    display: flex;
    align-items: center;
    border-right: 2px solid rgb(5, 216, 34);
}

.appointment-description {
    padding: 10px;
}

/* blog */

.blog-container {
    width: 80%;
    margin: auto;
    /* background-color: gray; */
    padding: 10px;
}

.blog-title {
    color: black;
    text-align: center;
    margin: 50px;
}

.card {
    width: 220px;
    height: 300px;
    /* background-color: blue; */
    box-shadow: 4px 8px 4px gray;
    border-radius: 5px;

}

.blog-img {
    width: 100%;
    border-radius: 5px;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}